{% macro customCssInput(name, settings) %}
    {% from "_includes/forms" import select, text %}

    {% set customCssOptions = [
        { label : 'Default', value: '' },
    ] %}

    {% set craftSources = craft.froalaEditor.getAssetSources %}
    {% if craftSources is not empty %}
        {% set customCssOptions = customCssOptions|merge([{ optgroup: 'Asset source' }]) -%}
        {% for assetSource in craftSources %}
            {% set customCssOptions = customCssOptions|merge({ ('source:' ~ assetSource.value): assetSource.label }) -%}
        {% endfor %}
    {% endif %}

    {% set craftPlugins = craft.plugins.getPlugins %}
    {% if craftPlugins is not empty %}
        {% set customCssOptions = customCssOptions|merge([{ optgroup: 'Plugin resource' }]) -%}
        {% for pluginHandle, plugin in craftPlugins %}
            {% set customCssOptions = customCssOptions|merge({ ('plugin:' ~ pluginHandle): plugin.name }) -%}
        {% endfor %}
    {% endif %}

    <table class="inputs fullwidth">
        <tr>
            <td class="thin">
                {{ select({
                    id: name ~ 'Type',
                    name: name ~ 'Type',
                    options: customCssOptions,
                    value: settings[name ~ 'Type'],
                }) }}
            </td>
            <td>
                {{ text({
                    id: name ~ 'File',
                    class: 'ltr',
                    name: name ~ 'File',
                    value: settings[name ~ 'File'],
                    placeholder: "path/to/css/file.css"|t
                }) }}
            </td>
        </tr>
    </table>
{% endmacro %}

{% macro uploadLocationInput(name, settings, sourceOptions) %}
    {% from "_includes/forms" import select, text %}
    <table class="inputs fullwidth">
        <tr>
            <td class="thin">
                {{ select({
                    id: name ~ 'Source',
                    name: name ~ 'Source',
                    options: sourceOptions,
                    value: settings[name ~ 'Source'],
                }) }}
            </td>
            <td>
                {{ text({
                    id: name ~ 'SubPath',
                    class: 'ltr',
                    name: name ~ 'SubPath',
                    value: settings[name ~ 'SubPath'],
                    placeholder: "path/to/subfolder"|t
                }) }}
            </td>
        </tr>
    </table>
{% endmacro %}