{% extends 'froalaEditor/_layouts/cp' %}

{% set fullPageForm = true %}

{% set selectedSubnavItem = 'general' %}

{% set title = craft.froalaEditor.name | t %}

{% set navItems = {
    'general': { title: 'General' | t },
    'plugins': { title: 'Plugins' | t },
    'customcss': { title: 'Custom CSS' | t }
} %}

{% set selectedItem = craft.request.getSegment(3)|default %}
{% set docTitle = navItems[selectedItem].title %}

{% set crumbs = [
    { label: title | t, url: url('froala-editor/settings/general') },
    { label: docTitle | t, url: url('froala-editor/settings/' ~ selectedItem) }
] %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url('froala-editor/settings/' ~ id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="plugins/savePluginSettings">
    <input type="hidden" name="pluginClass" value="FroalaEditor">
    <input type="hidden" name="redirect" value="{{ url('froala-editor/settings/' ~ selectedItem) }}">

    {% block fields %}{% endblock %}
{% endblock %}